<!doctype html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title></title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital@1&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
</head>
<body id="bootstrap-overide">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">BodyComp</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        
      
       
          <!-- <form class="form-inline my-2 my-lg-0"> -->
            <form  class="form-inline">
            <button class="btn btn-outline-success my-2 my-sm-0 form-inline" type="submit"><a href="/signup">Sign Up</a></button>
            <button class="btn btn-outline-success my-2 my-sm-0 form-inline" type="submit"><a href="/login">Log In</a></button>
            </form>
            <span class="signup">Sign Up & Submit Form</span>
          
          <!-- </form> -->
        </div>
      </nav>
<div class="container">

    <div class="jumbotron text-center">
       <h2 class="header">BMI Calculator</h2>
       <section>
        <form action="/messages" method="post">
       <div class="input-group input-group-lg mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="">First & Last Name</span>
        </div>
        <input type="text" class="form-control" placeholder="Enter First Name" name="fname">
        <input type="text" class="form-control" placeholder="Enter Last Name" name="lname">
      </div>
      
      <div class="input-group input-group-lg mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="">Height & Weight</span>
        </div>
        <input type="text" class="form-control" placeholder="Input Height In Inches" name="height">
        <input type="text" class="form-control" placeholder="Input Weight in Pounds" name="weight">
      </div>
    <img src="img/bd.jpg">
    <button type="submit" class="btn btn-lg btn-outline-danger">Submit</button>
    </form>
       </section>
    </div>
    

</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
